<%= image_tag("instagram.svg", class: "mb-4", alt: "Instagram Logo", width: "72", height:"57" ) %>

<h2 class="h3 mb-3 fw-normal">Sign up</h2>
<div class="form-signin w-100 m-auto">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating">    
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
      <%= f.label :floatingInput, "Email address" %>
    </div>

    <div class="form-floating">    
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", id: "floatingPassword", placeholder: "Username" %>
      <%= f.label :floatingPassword, "Username" %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "floatingPassword", placeholder: "Password (6 characters minimum)" %>
      <%= f.label :floatingPassword, "Password" %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "passwordConfirmation", placeholder: "Password (6 characters minimum)" %>
      <%= f.label :passwordConfirmation, "Password confirmarion" %>
    </div>

    <%= f.submit "Sign up", class: "w-100 btn btn-lg btn-primary" %>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  <% end %>
</div>

<%= render "devise/shared/links" %>

